<h1>Add new Place</h1<>
<form action="/place_added" method="post">
  <label for="new-place">add a new task</label>
  <input id ="new-place" name="new-place" type="text">

  <label for="new-picture">add a new picture</label>
  <input id ="new-picture" name="new-picture" type="text">

  <label for="new-population">add a new task</label>
  <input id ="new-population" name="new-population" type="number">

  <button type="submit">Submit</button>

</form>
