<h1>Your Favorite Visited Places</h1>
<ul>
  @foreach(string place in Model)
  {
    <li>@place</li>
  }
</ul>
<p><a href="/">Add another place</a></p>
<form action="/places_cleared" method="post">
  <button type="submit" name="button">Clear All Places</button>
</form>
